
/* Header (On each page)*/
/* Navigation bar */

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand {
    font-weight: 500;
    color: #44739C;
    font-size: 40px;
    font-family: Courier, monospace;
    font-weight: 600;
    transition: 0.3s color;
}

.navbar-toggler {
    border:none;
    font-size:1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #44739C;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* Home page */

.hero-section {
    position: fixed;
    background: url(img/blue_background.webp) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100svh;
}

.hero-section::before {
    background-color: rgba(0,0,0,0.2);
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    margin-top: 250px;
    font-size: 1.5em;

}

.hero-section h2 {
    font-size: 1.1em;
    
}

.hero-section h3 {
    font-size: 0.6em;
    
}

.hero-section #my-picture {
    width: 130px;
    border: #fff solid 1.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-section .container .container {
    margin-top: 20px;
    width: 162px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-section .container .container .img-fluid {
    width: 25px;
}

.hero-section .container .container #gmail-icon {
    margin-top: 5px;
}

/* CV Page */

.main-section {
    margin-top: 125px;
    width: 100%;
    text-align: center;
}

.main-section #main-container {
    width: 70%;
    padding: 30px;
    border: solid var(--bs-border-color);
    border-width: 1px;
    border-radius: var(--bs-border-radius);
    
}

.main-section .container {
    text-align: center;    
}

.main-section .h2 {
    color: #44739C;
}
.main-section #rows-container {
    display: flex;
    flex-direction:row; 
    justify-content: space-evenly;
    align-items: baseline;
}

.main-section #education-container {
    padding-left: 15px;
    border-left: solid var(--bs-border-color);
    border-width: 1px;
}

@media (max-width: 768px) {
    .main-section #rows-container {
      flex-direction: column;
      text-align: justify;
    }
    .main-section #education-container {
        border-left: 0px;
    }
}

.main-section .container .italic-list-items {
    font-style: italic;
    margin-bottom: 10px;
}

.main-section #table-container {
    margin: auto;
    margin-top: 30px;
    border: solid var(--bs-border-color);
    border-width: 1px;
    border-radius: var(--bs-border-radius);
    width: 62%;
}

.main-section #table-container .table {
    margin: 10px auto;
    font-size: 1.2em;
}

.main-section #table-container .table .scope {
    color: #44739C;
    
}


